/* #main {
    border: 2px solid green;
    background-color:  pink;
}
.dup{
    border: 3px dotted pink;
    color: white;;
    background-color: black;
    border-radius: 12px;
    width: 50%;
    padding: 4px;
    
   
    
    
}

div{
    background-color: cadetblue;;
    width: 40%;
    height: 40%;
    padding: 10px;
    border-radius: 60px;
    text-align: center;
    justify-content: center;

} */

.aru{
    color: red;
}

.aru2{
    background-color: green;
}